* {
    margin : 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    margin:10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul li , a{
    margin-right: 10px;
    list-style: none;
    text-decoration: none;

}

ul {
    display: flex;
    justify-content:center;
}


body, main {
    display: flex;
    
  }
  
  
  body {
    flex-direction: column;
  }
  
 
  main {
    flex-direction: row;
    flex: auto; 
    margin: 30px;
  }
  
  article {
    flex: 2; 
    overflow-y: auto; 
  }
  
  aside {
    flex: 1; 
    overflow-y: auto; 
  }
  
  footer {
    position: absolute;
    bottom: 10px;
    margin: 30px;
  }
