* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    
}


nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1103.41px;
    height: 29.46px;
    top: 35.02px;
    margin-left: 171.59px;

}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 53px;
}

nav ul li {
    
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    text-align: left;

}
a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.background {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1093px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    
    .menu-checkbox:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-checkbox {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }

    .nav-links li {
        margin: 15px 0;
    }
}


@media screen and (max-width: 480px) {
    .nav-links {
        top: 60px; 
    }
}
